# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.Project_game_v1.iml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\UnityProjects\Project_game_v1\.idea\.idea.Project_game_v1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
